/*Профиль*/
.form-title_type_profile {
  padding: 0 0 106px;
}

.form__field_type_profile {
  padding: 15px 0;
  font-size: 11px;
  border-bottom: 1px solid #424242;
  grid-template-columns: 50px 1fr;
  width: 410px;
}

.form__input_type_profile {
  text-align: right;
  font-size: 11px;
  line-height: 1.2;
  height: 17.2px;
}

.form__input_type_profile::placeholder {
  text-align: right;
}

.form__error_type_profile {
  grid-column: 1 / 3;
  top: calc(100% - 17px);
  left: 0;
  font-size: 10px;
  line-height: 1.2;
  min-height: 17px;
  max-height: 24px;
  background-color: #202020;
}

/*Auth*/
.form-title_type_auth {
  padding: 40px 0;
}

.form__input-block_type_auth {
  gap: 20px;
}

.form__field_type_auth {
  row-gap: 10px;
  font-size: 10px;
  color: #8B8B8B;
  grid-template-columns: 1fr;
  width: 396px;
}

.form__input_type_auth {
  padding: 15px;
  border-radius: 8px;
  background-color: #2F2F2F;
  text-align: left;
  font-size: 13px;
  height: 46px;
}

.form__input_type_auth:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #2F2F2F inset;
}

.form__error_type_auth {
  grid-column: 1 ;
  top: 100%;
  left: 0;
  font-size: 10px;
  line-height: 1;
  min-height: 10px;
  max-height: 20px;
  background-color: transparent;
}

@media screen and (max-width: 768.98px) {
  .form-title_type_profile {
    padding: 0 0 78px;
  }
}

@media screen and (max-width: 449.98px) {
  .form-title_type_auth {
    padding: 50px 0 80px;
  }

  .form-title_type_profile {
    padding: 2px 0 63px;
  }
}
