/*Заголовок*/
.form-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

/*Форма*/
.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/*Блок инпутов*/
.form__input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

/*Блок одного инпута*/
.form__field {
  display: grid;
  position: relative;
  align-items: center;
  padding: 0;
  line-height: 1.2;
}

.form__field:last-child {
  border-bottom: none;
}

/*Инпуты*/
.form__input {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  color: #FFF;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #8B8B8B;
}

.form__input:focus {
  outline: none;
  font-weight: 500;
}

.form__input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #202020 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form__input_type_error {
  color: #EE3465;
}

/*Ошибки*/
.form__error {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  color: #EE3465;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

.form__error_visible {
  opacity: 1;
}

/*Адаптив*/
@media screen and (max-width: 449.98px) {
  .form__field {
    width: 260px;
  }

  .form {
    height: 100%;
  }

  .form-title_type_auth {
    padding: 50px 0 80px;
  }
}
