.movies-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.movies-card__footer {
  display: flex;
  padding: 14px 12px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  height: 67px;
}

.movies-card__text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.movies-card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.movies-card__duration {
  color: #8B8B8B;
  padding: 0;
  margin: 0;
  font-size: 11px;
  line-height: 1.2;
}

.movies-card__image {
  width: 100%;
  aspect-ratio: 10/5.6;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.movies-card__btn {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #313131;
  box-sizing: border-box;
}

.movies-card__btn_type_active {
  background-color: #2BE080;
}

.movies-card__btn_type_delete {
  background-color: transparent;
  border: none;
  background-image: url('../../../images/card-btn-delete.svg');
}
