.footer {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  padding: 79px 70px 0;
  margin: auto;
}

.footer__text {
  width: 100%;
  color: #8B8B8B;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: #424242 solid 1px;
  margin: 0;
  padding: 0 0 20px;
}

.footer__nav-block {
  display: flex;
  font-size: 13px;
  line-height: 1.2;
  justify-content: space-between;
  margin: 20px 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 21px;
}

.footer__link {
  text-decoration: none;
  color: #FFF;
}

@media screen and (max-width: 1023.98px) {
  .footer {
    padding: 79px 30px 0;
  }
}

@media screen and (max-width: 449.98px) {
  .footer {
    padding: 79px 10px 0;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__nav-block {
    font-size: 12px;
    align-items: center;
    flex-direction: column-reverse;
    margin: 31px 0 20px;
    gap: 30px;
  }

  .footer__links {
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

}
