.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 57px 70px 47px;
  width: calc(100% - 70px - 70px);
  max-width: 1140px;
}

.form_type_search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #424242;
  gap: 46px;
  margin: 0 0 32px;
}

.form-title_type_search {
  display: none;
}
.form__input-block_type_search {
  justify-content: center;
}

.form__input_type_search {
  width: 100%;
  outline: none;
  border: none;
  color: #8B8B8B;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  background-color: transparent;
  padding: 0 0 13px;
  margin: 0;
}

.form__input_type_search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 0 0 20px;
  background: url("../../../images/menu-close.svg") no-repeat center / cover;
  transition: all 0.3s;
}

.form__input_type_search:focus {
  color: #fff;
}

.form__input_type_search::placeholder {
  color: #8B8B8B;
}

.form__error_type_search {
  top: calc(100% + 10px);
  left: 0;
  font-size: 10px;
  line-height: 1.2;
  min-height: 17px;
  max-height: 24px;
}

.form__submit_type_search {
  padding: 0;
  margin: 13px 0;
  outline: none;
  border: none;
  background-image: url('../../../images/find-btn.svg');
  width: 34px;
  height: 34px;
  line-height: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: transparent;
}

@media screen and (max-width: 1023.98px) {
  .search {
    align-items: flex-end;
    margin: 67px 30px 60px;
    width: calc(100% - 30px - 30px);
  }

  .form_type_search {
    margin: 0 0 29px;
  }
}

@media screen and (max-width: 449.98px) {
  .search {
    align-items: center;
    margin: 76px 14px 50px;
    width: calc(100% - 14px - 14px);
  }

  .form__input_type_search {
    font-size: 18px;
  }

  .form_type_search {
    margin: 0 0 40px;
    justify-content: center;
  }

  .form__submit_type_search {
    margin: 9px 0;
  }

  .form__field_type_search {
    width: 100%;
  }
}
