.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 70px 70px 47px;
  width: calc(100% - 70px - 70px);
  max-width: 1140px;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #424242;
  gap: 46px;
  margin: 0 0 32px;
}

.search__input {
  width: 100%;
  outline: none;
  border: none;
  color: #8B8B8B;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  background-color: transparent;
  padding: 0 0 13px;
  margin: 0;
}

.search__input:focus {
  color: #fff;
}

.search__input::placeholder {
  color: #8B8B8B;
}

.search__btn {
  padding: 0;
  margin: 0 0 13px;
  outline: none;
  border: none;
  background-image: url('../../../images/find-btn.svg');
  width: 34px;
  aspect-ratio: 1/1;
  line-height: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: transparent;
}

@media screen and (max-width: 1023.98px) {
  .search {
    align-items: flex-end;
    margin: 80px 30px 60px;
    width: calc(100% - 30px - 30px);
  }

  .search__container {
    margin: 0 0 29px;
  }
}

@media screen and (max-width: 449.98px) {
  .search {
    align-items: center;
    margin: 89px 14px 50px;
    width: calc(100% - 14px - 14px);
  }

  .search__input {
    font-size: 18px;
  }

  .search__container {
    margin: 0 0 40px;
  }

  .search__btn {
    margin: 0 0 6px;
  }
}
