.menu_type_header-authorized {
  width: 59.1%;
}

.burger-btn {
  border: none;
  line-height: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: none;
}

.burger-btn__icon {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

@media screen and (max-width: 768.98px) {
 .menu_type_header-authorized {
    display: none;
  }

  .burger-btn {
    display: block;
  }
}

@media screen and (max-width: 449.98px) {
  .burger-btn__icon {
    width: 40px;
    height: 43px;
  }
 }
